body{
    margin:0;    
    display:flex;
    justify-content: center;
}
th{
    padding:1rem !important;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal ;
}
.container{
    border:1px solid grey;
    border-radius:5px;
    box-shadow: 5px 5px 1px grey;
    min-width: fit-content;
}

.float-right{
    float:right;
    margin-top:-10px;
    margin-right: 10px;
}

/* form */
form{
    display:flex;
    flex-direction: column;    
}

